.size{
    /*ეს სტილები იმიტომ გავაკეთე რო ცენტრში გამეტანა მთლიანი სტრუქტურა
    მერე შენს გემოზე დაალაგებ ზომებს და ასე შემდეგ..*/
    margin-top: 100px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.top{
    /*ელემენტები განვათავსოთ გვერდი გვერდ*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-box{
    display: flex;
    /*ამ კოდით უბრალოდ ელემენტები დავაშორე ერთმანეთს მაქსიმალურად 
    მერე შენს გემოზე დააშორებ მე უბრალოდ სტრუქტურას ვაწყობ*/
    justify-content: space-between;
    margin-top: 100px;
}
/*აქ ტექსტს ზომა მივეცი ფიქსირებული რომ ძალიან გაწელილი არ ყოფილიყო*/
.content1{
    width: 300px;
}
.content2{
    width: 250px;
}
/*ამ კოდით ჩამონათვალი დავაშორე ერთმანეთს ( როგორც დიზაინზე იყო მივამსგავსე 
და ფოტოებს მერე შენ ჩაუსვავ)*/
.ul-list li{
    margin-top: 10px;
}